@import url(https://fonts.googleapis.com/css?family=Roboto:700,400);

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%clearfix {
  @include clearfix;
}

*, *::before, *::after {
  box-sizing: border-box;
}


/******************************************************************************/
/** COMMON ********************************************************************/
/******************************************************************************/
.query-builder, .query-preview {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  margin: 12px;
}

.query-preview {
  font-size: 14px;
  background: rgba(250, 240, 210, 0.5);
  border: 1px solid #DCC896;
  min-height: 1rem;
  display: block;
  padding: 1rem;
}

.group:first-child {
  background-color: #FFFFFF;

  & .rule {
    background-color: #f7f7f7;
  }
}

.group .group {
  background-color: #f7f7f7;

  & .rule {
    background-color: #FFFFFF;
  }
}

.group, .rule {
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

/******************************************************************************/
/** GROUP *********************************************************************/
/******************************************************************************/
.group--children {
  margin-left: 20px;

  & > .rule, & > .group {
    &:last-child {
      &::before {
        bottom: 50%;
      }
    }

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      left: -13px;
      background-color: gray;
    }

    &::before {
      width: 2px;
      top: -20px;
      bottom: -1px;
    }

    &::after {
      top: 50%;
      height: 2px;
      width: 13px;
    }
  }

  & .group--header .action {
    background-color: transparent;
    color: #0099ff;
    border: none;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 0;

    &.action--ADD-RULE {
      margin-right: 30px;
    }

    &.action--ADD-GROUP {
      width: 112px;
      margin-right: 30px;
    }

    &.action--DELETE {
      color: #ff0000;
      width: 60px;
      font-weight: 400;
    }

  }
}

.group--header {
  @extend %clearfix;

  & .action {
    width: 255px;
    height: 45px;
    background-color: #33CC33;
    border-color: #33CC33;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 1px;

    &.action--ADD-RULE {
      margin-right: 22px;
    }
  }
}

.group--conjunctions {
  float: left;
}

.group--actions {
  float: right;
}

/******************************************************************************/
/** RULE **********************************************************************/
/******************************************************************************/
.rule--header {
  @extend %clearfix;
  float: right;
}

.rule--body {
  @extend %clearfix;

  & .double-select {
      padding-top: 10px;

    & label {
      color: #000000;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      padding-left: 15px;
    }
  }

  & select, & input {
    border: none;
    background: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 230px;
    border-bottom: 2px;
    border-bottom-color: #999999;
    border-bottom-style: solid;
    padding-bottom: 5px;
    margin-left: 24px;
  }

  & .checkbox label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }

  & input[type=radio] {
    width: 20px;
  }

  & select:focus, & input:focus {
    outline: 0;
  }
}

.rule--field, .rule--operator, .rule--options, .rule--widget {
  display: inline-block;
  margin-right: 10px;
}

.rule--field, .rule--operator {
  label {
    display: block;
    font-weight: bold;
  }
}

/******************************************************************************/
/** CONJUNCTION ***************************************************************/
/******************************************************************************/
.conjunction {
  display: inline-block;

  label {
    display: inline-block;
    border: 1px solid;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    width: 70px;
    height: 35px;
  }

  input {
    display: none;
  }

  &[data-state="active"] {
    label {
      background-color: #e0e0e0;
      border-color: #999999;
      color: #000000;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      text-align: center;
    }
  }

  &[data-state="inactive"] {
    label {
      background-color: #FFFFFF;
      border-color: #999999;
      color: #000000;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      text-align: center;

      &:hover {

      }
    }
  }

  &:first-child {
    label {
      border-radius: 3px 0 0 3px;
    }
  }

  &:last-child {
    label {
      border-radius: 0 3px 3px 0;
    }
  }

  &:first-child:last-child {
    border-radius: 3px;
  }
}

/******************************************************************************/
/** ACTION ********************************************************************/
/******************************************************************************/
.action {
  display: inline-block;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  cursor: pointer;
  color: white;
  padding: 0.2rem 0.4rem;
  text-decoration: none;

  &:first-child {
    border-radius: 3px 0 0 3px;
    border-left-width: 1px;
  }

  &:last-child {
    border-radius: 0 3px 3px 0;
  }

  &:first-child:last-child {
    border-radius: 3px;
  }
}

.action--DELETE {
  color: #ff0000;
  width: 60px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  background: none;
  border: none;
}

.buttons-menu {
  text-align: center;
  margin-bottom: 25px;

  & .btn {
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    border-radius: 1px;

    &.btn-danger {
      margin-right: 22px;
      font-weight: 400;
    }

    &.btn-success {
      background-color: #33CC33;
      border-color: #33CC33;
      width: 230px;
      font-weight: 700;
    }
  }


}